---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  text: string;
  addClass?: string;
}
const { text, addClass, href, ...props } = Astro.props;
let isActive: boolean;
if (!href) {
  isActive = false;
} else if (href === "/") {
  isActive = href === Astro.url.pathname;
} else {
  isActive = Astro.url.pathname.includes(
    typeof href === "string" ? href : href.href,
  );
}
---

<a
  class:list={[
    "px-4 py-2 text-sm font-medium",
    { "dark:text-blue-400 text-blue-500 dark:hover:text-blue-400/75 hover:text-blue-500/75 border-b-2 border-blue-400 dark:border-blue-500": isActive },
    { "text-zinc-300 hover:text-zinc-300/75": !isActive },
    addClass,
  ]}
  aria-current={isActive ? "page" : undefined}
  href={href}
  {...props}
  aria-label={`Go to ${text} page`}
>
  {text}
</a>
