---
interface Props {
  title: string;
  company: string;
  year: string;
  desc?: string;
  key?: string;
}

const { title, company, year, desc } = Astro.props;
---

<li class="w-full grid grid-cols-4 gap-y-1 justify-between mb-4">
  <span class="font-bold dark:text-zinc-300 text-zinc-700 col-span-3">{title}</span>
  <span class="float-right text-right dark:text-zinc-400 text-zinc-600 row-span-2 content-center">{year}</span> 
  <span class="dark:text-zinc-400 text-zinc-600 col-span-3">{company}</span>
  <span class="dark:text-zinc-400 text-zinc-600 col-span-3 text-sm text-justify">{desc}</span>
</li>